<div class="center jumbotron">
  <h1><%= t("home.welcome") %></h1>
  <h2>
    <%= t("home.description_html", link: link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/")) %>
  </h2>
  <%= link_to t("home.sign_up"), "#", class: "btn btn-lg btn-primary" %>
</div>
