<% provide :title, t(".title") %>
<% content_for :breadcrumbs do %>
  <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
  <span class="breadcrumb-separator"> > </span>
  <%= link_to t("user.words.index.title"), user_words_path %>
<% end %>
<div class="container-fluid">
  <div class="row words-container">
    <div class="col-md-3 col-sm-12 word-filter-container filter-sidebar">
      <%= render "filter" %>
    </div>

    <div class="col-md-9 vocabulary-table">
      <%= render "table" %>
    </div>
  </div>
</div>
