<div class="question-form-container">
  <div class="question-form-header">
    <h1 class="question-form-title"><%= t(".title") %></h1>
  </div>

  <%= render "form", test: @test, question: @question %>
</div>
