@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
}

/* common */
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.contact {
  color: rgb(35, 95, 150);
}

.dropdown-menu.active {
  display: block;
}

.error-message {
  color: red;
}

.form-label {
  display: block;
}

.notice-message {
  color: green;
}

/* header */
#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

/* avatar */
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
